.menu {
    width: 900px;
    padding: 70px;
    margin: auto;
}

.headmenu {
    text-align: center;
}

.linkmenu {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 120px;
    font-size: 14px;
    color: #626262;
   }

.linkmenu:last-child {
    margin-right: 0;
} 

.linkmenu:hover {
    color: #03a9f4;
}
