.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/VectorSmartObject.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding: 4.2rem 1.6rem 13rem;
}

.header-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access {
    margin-bottom: 11.3rem;
   
    display: flex;
    justify-content: space-between;
}

.logo, .access-link, .header-title, .header-subtitle, .header-search {
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
}

.access-link {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 1.7rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.0);    
    border-radius: 5rem;
    flex: 1 0 100%;
}

.access-link:hover {
   
    border-color: #fff;
}

.logo {
    margin-bottom: 3.8rem;
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
}

.header-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.header-subtitle {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-family: 'Montserrat regular';
    font-style: normal;
    font-weight: 400;
}

.header-search {
    padding: 1.2rem 5rem;
    background-color: #ff4e50;
    border-radius: 5rem;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 13rem;
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    .header-items {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11.3rem;
    }
    .access {
        margin-bottom: 0;
    }
    .logo {
        margin-bottom: 0;
    }
    .header-title {
        max-width: 55rem;
        font-size: 5.2rem;
        margin-bottom: 4rem;
    }
    .header-subtitle {
        margin-bottom: 3rem;
    }
}

@media (min-width: 1440px) {
    .header-items {
        justify-content: space-around;
    }

}