.footer {
    @include Flex(row, space-between, center);
    @extend %container;

    &__copyright--text {
        @include Font-sec(14px, none,  map-get($colors, gray-text));
        @extend %Monts-bold;
        }

    &__copyright--name{
        color: map-get($colors, hover-icon);
        }       
}

.footer-form {
    font-size: 0;
    
    &__email {
        @include Font-sec(15px, capitalize, map-get($colors, semi-gray-text));
        @extend %roboto;
        font-style: italic;
        padding: 9px 10px;
        border: 1px solid #d2d2d2;
    }

    &__subscribe {
        @include Font-header(14px, uppercase);
        @extend %Monts-bold;
        background-color: map-get($colors, shadow-bg);
        padding: 10px 33px;
        border: none;
        cursor: pointer;
    }
}