.services {
    @include Flex(column, center, center);
    @extend %container;
    
    &__main-title {
        @include Font-sec(24px, none, map-get($colors, gray-text));
        @extend %kaushan;
    }

    &__title {
        @include Font-sec(30px, uppercase, map-get($colors, gray-text));
        @extend %Monts-bold;
    }
    &__title::after {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #f38181;
        margin: 40px auto 0;
    }

    &__items {
        @include Flex(row, space-between, space-between);
        flex-wrap: wrap;
    }

    &__items-title {
        @include Flex(row, space-between, space-between);
        width: 350px;
        margin: 0 0 70px;
    }

    &__items-info {
        width: 290px;
    }

    &__items-info-title {
        @include Font-sec(14px, uppercase, map-get($colors, gray-text));
        @extend %Monts-bold;
    }

    &__items-info-text {
        @include Font-sec(15px, none, map-get($colors, semi-gray-text));
        @extend %roboto;
    }
}

.bg-digital {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -10px -53px;
    margin-top: 20px;
}

.bg-HOME {
    width: 32px; height: 31px;
    background: url('../img/css_sprites.png') -10px -105px;
    margin-top: 20px;
}

.bg-MoGo {
    width: 86px; height: 23px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.bg-we_design {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -62px -53px;
    margin-top: 20px;
}

.bg-photography {
    width: 32px; height: 31px;
    background: url('../img/css_sprites.png') -62px -105px;
    margin-top: 20px;
}

.bg-seo {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -116px -10px;
    margin-top: 20px;
}

.bg-creaticity {
    width: 32px; height: 28px;
    background: url('../img/css_sprites.png') -114px -105px;
    margin-top: 20px;
}